Repository Runi-VN/CA-1, pull requests merged in 2019-09, with the labels that each got.

#22 Issue#7 done.
  src/main/webapp/groupContract.jsp
  src/main/webapp/javascript/groupContract.js
  src/main/webapp/javascript/tableUtil.js
Labels: groupcontract.html

#23 Issue #14/#12 - Joke entity, joke.jsp
  src/main/java/dto/JokeDTO.java
  src/main/java/entities/Joke.java
  src/main/java/facades/JokeFacade.java
  src/main/webapp/css/globalCSS.css
  src/main/webapp/javascript/jokes.js
  src/main/webapp/jokes.html
  src/test/java/facades/JokeFacadeTest.java
Labels: jokes.html

#24 issue #4
  src/main/java/dto/StudentDTO.java
  src/main/java/entities/Student.java
  src/test/java/facades/FacadeExampleTest.java
  src/test/java/rest/RenameMeResourceTest.java
Labels: index.html

#25 Group Contract now has Content
  src/main/webapp/css/globalCSS.css
  src/main/webapp/groupContract.html
  src/main/webapp/groupContract.jsp
  src/main/webapp/javascript/groupContract.js
Labels: groupcontract.html

#26 Issue#19 car entity
  src/main/java/dto/CarDTO.java
  src/main/java/entities/Car.java
  src/main/resources/META-INF/persistence.xml
Labels: cars.html

#27 WhoDidWhat section of the page. Facade.
  pom.xml
  src/main/java/dto/WhoDidWhatDTO.java
  src/main/java/entities/WhoDidWhat.java
  src/main/java/facades/WhoDidWhatFacade.java
  src/main/resources/META-INF/persistence.xml
  src/main/webapp/groupContract.html
  src/test/java/facades/WhoDidWhatFacadeTest.java
Labels: groupcontract.html

#30 Issue#16 - [JOKE] REST-endpoints + testing
  src/main/java/facades/JokeFacade.java
  src/main/java/rest/ApplicationConfig.java
  src/main/java/rest/JokeResource.java
  src/test/java/facades/JokeFacadeTest.java
  src/test/java/rest/JokeResourceTest.java
Labels: jokes.html

#31 Issue#20 car facade
  src/main/java/dto/CarDTO.java
  src/main/java/entities/Car.java
  src/main/java/facades/CarFacade.java
  src/test/java/facades/CarFacadeTest.java
Labels: cars.html

#39 issue #2
  src/main/resources/META-INF/persistence.xml
  src/main/webapp/index.html
  src/main/webapp/javascript/index.js
Labels: index.html

#33 WhoDidWhat endpoints and test and frontend
  src/main/java/commandpattern/Command.java
  src/main/java/commandpattern/FrontController.java
  src/main/java/commandpattern/MakeWorkCommand.java
  src/main/java/rest/ApplicationConfig.java
  src/main/java/rest/WhoDidWhatResource.java
  src/main/webapp/WEB-INF/web.xml
  src/main/webapp/css/globalCSS.css
  src/main/webapp/groupContract.html
  src/main/webapp/javascript/groupContract.js
  src/test/java/facades/WhoDidWhatFacadeTest.java
  src/test/java/rest/WhoDidWhatResourceTest.java
Labels: groupcontract.html

#38 issue#13 - jokes.html + js
  src/main/java/rest/JokeResource.java
  src/main/webapp/css/globalCSS.css
  src/main/webapp/javascript/jokes.js
  src/main/webapp/jokes.html
  src/test/java/facades/JokeFacadeTest.java
  src/test/java/rest/JokeResourceTest.java
Labels: jokes.html

#44 Issue #34
  src/main/java/facades/StudentFacade.java
  src/main/java/rest/StudentRessource.java
  src/main/webapp/index.html
  src/test/java/facades/StudentFacadeTest.java
  src/test/java/rest/StudentRessourceTest.java
Labels: index.html

#46 Removed template files
  src/main/java/entities/RenameMe.java
  src/main/java/facades/CarFacade.java
  src/main/java/facades/FacadeExample.java
  src/main/java/rest/ApplicationConfig.java
  src/main/java/rest/RenameMeResource.java
  src/test/java/facades/FacadeExampleTest.java
  src/test/java/rest/RenameMeResourceTest.java
Labels: index.html

#47 Issue#18 car js and styling final
  src/main/webapp/cars.html
  src/main/webapp/css/globalCSS.css
  src/main/webapp/css/wallpaper.css
  src/main/webapp/javascript/cars.js
  src/main/webapp/javascript/tableUtil.js
Labels: cars.html

#48 Removed or changed some souts
  src/main/java/facades/CarFacade.java
  src/test/java/facades/CarFacadeTest.java
Labels: cars.html
